<h1 class="title"> Make A Password </h1>

<div class="password-output">
  <p class="password" [ngClass]="{'fun-mode': includeFun}" *ngIf="this.password !== ''" (click)="copyToClipboard(password)">
    {{ this.password }}
  </p>
  <p class="password" *ngIf="this.password === ''"> Use the Slider Below </p>
</div>


<p class="copied" *ngIf="!copied && password !== ''"> Click to copy the password </p>
<p class="copied" id="done" *ngIf="copied && password !== ''">  Copied </p>

<div class="settings">
  <div class="symbols">
    <label>
      <input type="checkbox" [(ngModel)]="includeSymbols" (ngModelChange)="generatePassword()">
      <span>Symbols</span>
    </label>
  </div>
  <div class="csv">
    <label>
      <input type="checkbox" [(ngModel)]="includeCommas" (ngModelChange)="generatePassword()">
      <span>CSV Destroyer</span>
    </label>
  </div>
  <div class="csv">
    <label>
      <input type="checkbox" [(ngModel)]="includeFun" (ngModelChange)="generatePassword()">
      <span>Fun Mode</span>
    </label>
  </div>
  <div class="length">
    <label>
      <span>Password Length: {{ passwordLength }}</span>
      <input type="range" min="8" max="20" [(ngModel)]="passwordLength" (ngModelChange)="generatePassword()" />
    </label>
  </div>
</div>