<h1> Password Generator </h1>

<div>
  <label>
    <input type="checkbox" [(ngModel)]="includeUppercase" (ngModelChange)="generatePassword()" />
    Include Uppercase
  </label>
</div>

<div>
  <label>
    <input type="checkbox" [(ngModel)]="includeSymbols" (ngModelChange)="generatePassword()" />
    Include Symbols
  </label>
</div>

<div>
  <label>
    Password Length: {{ passwordLength }}
    <input type="range" min="8" max="20" [(ngModel)]="passwordLength" (ngModelChange)="generatePassword()" />
  </label>
</div>

<p>Your Password: {{ generatedPassword }}</p>
